<form method="post">
	<label>Full Name</label>
	<input type="text" name="fullname" value="">
	<br><br>
	<label>Email</label>
	<input type="email" name="email" value="">
	<br><br>
	<label>Date of Birth</label>
	<input type="date" name="dob" value="">
	<br><br>
	<label>Password</label>
	<input type="password" name="password" value="">
	<br><br>
	<label>Confirm Password</label>
	<input type="password" name="confirm" value="">
	
	<br><br>
	<input type="submit" name="submit" value="Register">
</form>
<a class="register">Please Register</a>