body {
    margin: 0;
}

body > nav {
    height: 50px;
    margin: 5px;
}

body > section.content {
}

nav a.logo {
    color: #000000;
    float: left;
    text-decoration: none;
}

nav section.links {
    float: right;
}

a {
    color: #336699;
    cursor: pointer;
    text-decoration: underline;
}
