<form>
    <h2><% Create a New Job %></h2>
    <fieldset>
        <label><% Title %></label>
        <input type="text" name="title" />
    </fieldset>
    <fieldset>
        <label><% Description %></label>
        <input type="text" name="description" />
    </fieldset>
    <fieldset>
        <label><% Skills %></label>
        <input type="text" name="skills" />
    </fieldset>
    <fieldset>
        <label><% Salary %></label>
        <input type="number" name="salary" />
    </fieldset>
    <button type="submit"><% Submit %></button>
</form>